force-app/main/default/flows/SM_Mobile_Create_Quote_and_Cart_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Id</name>
        <label>Assign Quote Id</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>quoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Draft_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Cart_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Id2</name>
        <label>Assign Quote Id2</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>quoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Cart_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QuoteId_to_CartItems</name>
        <label>Assign QuoteId to CartItems</label>
        <locationX>270</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Over_Cart_Items.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Cart_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Cart_Items</name>
        <label>Collect Cart Items</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>CartItemsToBeCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Cart_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Cart_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Draft_Quote_Exists</name>
        <label>If Draft Quote Exists</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Draft_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[SM Mobile] Create Quote and Cart Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[SM Mobile] Create Quote and Cart Items</label>
    <loops>
        <name>Iterate_Over_Cart_Items</name>
        <label>Iterate Over Cart Items</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <collectionReference>cartItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_QuoteId_to_CartItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cart_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cart_Items</name>
        <label>Create Cart Items</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <inputReference>CartItemsToBeCreated</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Assign_Quote_Id2</targetReference>
        </connector>
        <inputReference>quote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Draft_Quote</name>
        <label>Get Existing Draft Quote</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Draft_Quote_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SM_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quote.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Draft_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cartItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItem__c</objectType>
    </variables>
    <variables>
        <name>CartItemsToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItem__c</objectType>
    </variables>
    <variables>
        <name>quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
