force-app/main/default/flows/SM_Mobile_Create_Order_From_Quote_and_Cart_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Order_Items_to_the_collection</name>
        <label>Add Order Items to the collection</label>
        <locationX>528</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Cart_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Evergreen_Fields</name>
        <label>Assign Evergreen Fields</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>orderItem.PeriodBoundary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Anniversary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.BillingFrequency2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.EndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.PricingTermCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Items_to_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_One_Time_Fields</name>
        <label>Assign One-Time Fields</label>
        <locationX>792</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>orderItem.EndDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.BillingFrequency2</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.PricingTermCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.PeriodBoundary</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Items_to_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order</name>
        <label>Assign Order</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Details.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Cart_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Item</name>
        <label>Assign Order Item</label>
        <locationX>528</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>orderItem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Cart_Items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Cart_Items.UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.NetUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Cart_Items.UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Cart_Items.TotalPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Cart_Items.PricebookEntryId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.TaxTreatmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Cart_Items.Product__r.TaxPolicy.DefaultTaxTreatmentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selling_Model_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TermDefined_Fields</name>
        <label>Assign TermDefined Fields</label>
        <locationX>528</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>orderItem.PricingTermCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.PeriodBoundary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Anniversary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.BillingFrequency2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TermDefinedTotalAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Items_to_the_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Selling_Model_Type</name>
        <label>Selling Model Type?</label>
        <locationX>528</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_One_Time_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>One-Time</defaultConnectorLabel>
        <rules>
            <name>Evergreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Cart_Items.SellingModelType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evergreen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Evergreen_Fields</targetReference>
            </connector>
            <label>Evergreen</label>
        </rules>
        <rules>
            <name>TermDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Cart_Items.SellingModelType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TermDefined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TermDefined_Fields</targetReference>
            </connector>
            <label>TermDefined</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 364</expression>
    </formulas>
    <formulas>
        <name>TermDefinedTotalAmount</name>
        <dataType>Number</dataType>
        <expression>{!Iterate_Over_Cart_Items.TotalPrice__c} * 12</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[SM Mobile] Create Order From Quote and Cart Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[SM Mobile] Create Order From Quote and Cart Lines</label>
    <loops>
        <name>Iterate_Over_Cart_Items</name>
        <label>Iterate Over Cart Items</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Cart_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Order_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invoke_Buy_Now_GA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cart_Items</name>
        <label>Get Cart Items</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Method</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CartItem__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Method</name>
        <label>Get Payment Method</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>paymentMethodId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CardPaymentMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cart_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SM_Status_on_Quote</name>
        <label>Update SM Status on Quote</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Get_Quote_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SM_Status__c</field>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_SM_Status_on_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Invoke_Buy_Now_GA</name>
        <label>Invoke Buy Now GA</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <flowName>Buy_Now_GA</flowName>
        <inputAssignments>
            <name>GatewayId</name>
            <value>
                <elementReference>Get_Payment_Method.PaymentGatewayId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderItems</name>
            <value>
                <elementReference>orderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentMethodId</name>
            <value>
                <elementReference>paymentMethodId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>paymentMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
